extends base

block content 

    section.overview-header

    main.main-overview 
        .course-overview-menu
            if user
                - if(user.role === 'admin')
                    a.btn.btn--green.btn--small.add-course-btn(href=`#`) ADD COURSE
                        svg.card__icon.add-course-icon 
                            use(xlink:href='img/icons.svg#icon-plus')
            else    
        .card-container 

            each course in courses 
                .card
                    .card__header
                        if user
                            - if(user.role === 'admin')
                                svg.delete-svg(data-menuid=`${course._id}`)
                                    use(xlink:href=`img/icons.svg#icon-more-vertical`)
                                    .manage-course-menu(id=`${course._id}`)
                                        ul.manage-course-menu-list
                                            li
                                                =`Edit ${course.name}  `
                                                svg.card__icon 
                                                    use(xlink:href='img/icons.svg#icon-edit')
                                            li
                                                =`Delete ${course.name} `
                                                svg.card__icon 
                                                    use(xlink:href='img/icons.svg#icon-trash-2')
                        else
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`img/courses/${course.imageCover}`, alt=`${course.name}`)
                        h3.heading-tertirary
                            span= course.name

                    .card__details
                        h4.card__sub-heading=`${course.difficulty} ${course.duration}-hour class`
                        p.card__text= course.summary
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span= course.address
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span= course.startDates[0].toLocaleString('en-us', {month: 'long', day: 'numeric'})
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-user')
                            span= `${course.maxGroupSize} people max`

                    .card__footer
                        p
                            span.card__footer-value= `$${course.price}`
                            | 
                            span.card__footer-text per person
                        p.card__ratings
                            span.card__footer-value= course.ratingsAverage 
                            | 
                            span.card__footer-text= `rating (${course.ratingsQuantity})`

                        a.btn.btn--green.btn--small(href=`/course/${course.slug}`) Details